[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/code --wait

[user]
  name = ${GIT_AUTHOR_NAME}
  email = ${GIT_AUTHOR_EMAIL}

[alias]
  br = branch
  co = checkout
  it = "!git init && git add . && git commit -m 'Initial commit'"
  ls = log --oneline
  mg = merge --no-commit
  po = push -u origin
  prune = fetch -prune
  st = status -sb
  up = pull --rebase --autostash
  coup = "!git co \"$1\" && git up #"

[color]
  branch = auto
  diff = auto
  status = auto

[init]
  defaultBranch = main
